@model WebFerreteria.Models.Usuarios

@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <h4 class="edit-title black-text text-darken-2">¿Estás seguro de eliminar este usuario?</h4>
    <div class="card white z-depth-2">
        <div class="card-content">
            <ul class="collection with-header">

                <li class="collection-header">
                    <h5><i class="material-icons left">person</i>Nombre Completo</h5>
                </li>
                <li class="collection-item">@Model.NombreCompleto</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">email</i>Correo</h5>
                </li>
                <li class="collection-item">@Model.Correo</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">vpn_key</i>Contraseña</h5>
                </li>
                <li class="collection-item">@Model.Contrasena</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">badge</i>Rol</h5>
                </li>
                <li class="collection-item">@Model.Rol</li>

                <li class="collection-header">
                    <h5><i class="material-icons left">toggle_on</i>Estado</h5>
                </li>
                <li class="collection-item">@Model.Estado</li>

            </ul>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="row btn-group">
                    <div class="col s12">
                        <button type="submit" class="btn-large blue tooltipped">
                            <i class="material-icons left">delete</i> Eliminar
                        </button>
                        <a asp-action="Index" class="btn-large grey darken-1 waves-effect waves-light">
                            <i class="material-icons left">arrow_back</i> Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
