@model IEnumerable<WebFerreteria.Models.Usuarios>

@{
    ViewData["Title"] = "Usuarios"; // titulo vista
    Layout = "~/Views/Shared/_Layout.cshtml"; // diseño del layout
}


<div class="usuarios-header"> @* contenedor titulo y boton crear usuario*@
    <h4>Usuarios Registrados</h4>
    <a asp-action="Create" class="btn-large blue darken-2 waves-effect waves-light"> @*boron accion crear*@
        <i class="material-icons left">person_add</i> Crear Usuario @*icono de materialize*@
    </a>
</div>

<div class="card usuarios-table-container"> @*contenedor tipo tarjeta tabla usuarios*@
    <div class="card-content">
        <table class="highlight responsive-table centered striped"> @*tabla responsiva con estilos de materialize*@
            <thead class="blue-grey lighten-4"> @*encabezado de tabla con nombres de columnas*@
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(model => model.Correo)</th>
                    <th>@Html.DisplayNameFor(model => model.Contrasena)</th>
                    <th>@Html.DisplayNameFor(model => model.Rol)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody> @*cuerpo de la tabla dinamico*@
                @foreach (var item in Model)
                {
                    <tr>@*celdas datos modelo*@
                        <td class="truncate-cell">@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                        <td class="truncate-cell">@Html.DisplayFor(modelItem => item.Correo)</td>
                        <td class="truncate-cell">@Html.DisplayFor(modelItem => item.Contrasena)</td>
                        <td>@Html.DisplayFor(modelItem => item.Rol)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td class="acciones-btns"> @*celdas de botones CRUD*@
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-small blue tooltipped" data-position="top" data-tooltip="Editar">
                                <i class="material-icons">edit</i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-small green tooltipped" data-position="top" data-tooltip="Detalles">
                                <i class="material-icons">info</i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-small red tooltipped" data-position="top" data-tooltip="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este usuario?');">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>