@model IEnumerable<WebFerreteria.Models.Entregas>

@{
    ViewData["Title"] = "Entregas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="usuarios-header">
    <h4>Entregas Registradas</h4>
    <a asp-action="Create" class="btn-large blue darken-2 waves-effect waves-light">
        <i class="material-icons left">local_shipping</i> Crear Entrega
    </a>
</div>

<div class="card usuarios-table-container">
    <div class="card-content">
        <table class="highlight responsive-table centered striped">
            <thead class="blue-grey lighten-4">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DireccionEntrega)</th>
                    <th>@Html.DisplayNameFor(model => model.FechaEntrega)</th>
                    <th>@Html.DisplayNameFor(model => model.EntregadoPorNavigation)</th>
                    <th>@Html.DisplayNameFor(model => model.Pedido)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.DireccionEntrega)</td>
                        <td>@Html.DisplayFor(modelItem => item.FechaEntrega)</td>
                        <td>@Html.DisplayFor(modelItem => item.EntregadoPorNavigation.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pedido.Id)</td>
                        <td class="acciones-btns">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-small blue tooltipped" data-position="top" data-tooltip="Editar">
                                <i class="material-icons">edit</i>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-small green tooltipped" data-position="top" data-tooltip="Detalles">
                                <i class="material-icons">info</i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-small red tooltipped" data-position="top" data-tooltip="Eliminar" onclick="return confirm('¿Estás seguro de eliminar esta entrega?');">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
