@model WebFerreteria.Models.DetallePedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="details-title">
        <i class="material-icons left"></i> Detalles del Pedido
    </h4>

    <div class="card details-card white z-depth-2">
        <div class="card-content">
            <dl class="row details-list">
                <div class="col s12 m6">
                    <dt><i class="material-icons tiny">format_list_numbered</i> @Html.DisplayNameFor(model => model.Cantidad)</dt>
                    <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

                    <dt><i class="material-icons tiny">attach_money</i> @Html.DisplayNameFor(model => model.PrecioUnitario)</dt>
                    <dd>@Html.DisplayFor(model => model.PrecioUnitario)</dd>
                </div>
                <div class="col s12 m6">
                    <dt><i class="material-icons tiny">assignment</i> @Html.DisplayNameFor(model => model.Pedido)</dt>
                    <dd>@Html.DisplayFor(model => model.Pedido.Id)</dd>

                    <dt><i class="material-icons tiny">build</i> @Html.DisplayNameFor(model => model.Producto)</dt>
                    <dd>@Html.DisplayFor(model => model.Producto.Id)</dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="row btn-group">
        <div class="col s12">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-large blue darken-2 waves-effect waves-light">
                <i class="material-icons left">edit</i> Editar
            </a>
            <a asp-action="Index" class="btn-large grey darken-1 waves-effect waves-light">
                <i class="material-icons left">arrow_back</i> Regresar
            </a>
        </div>
    </div>
</div>
